@import-normalize;

#root {
  height: 100%;
  background-color: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  min-width: 32rem;
  height: 100%;
  margin: 0 auto;
  background-color: #f6f8fa;

  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: rotate(-0.03deg);

  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  border: none;
}

input:focus {
  outline: none;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: 0;
  padding: 0;
}

select {
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  body {
    width: 76.8rem;
  }
}
