@import-normalize;

#root {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  height: 100%;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  border: none;
}

input:focus {
  outline: none;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: 0;
}
